html,
body {
 background-color: #f2f2f2;
 color: #202020;
 height: 100vh;
 margin: 0;
 max-height: 100%;
 overflow-x: auto;
 overflow-y: auto;
 padding: 0;
}

body.display {
 display: block;
}

html,
body,
input,
select,
textarea,
button {
 font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
 font-size: 18px;
 line-height: 1.5;
}

a {
 color: inherit;
 text-decoration: none;
}

:focus {
 outline: none;
 box-shadow: inset 0 0 0 2px #797979;
}

*::selection {
 background-color: #202020;
 color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 10px 0;
}

p:last-child {
 margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
 margin-top: 0;
}

h1 {
 font-size: 30px;
}

h2 {
 font-size: 28px;
}

h3 {
 font-size: 26px;
}

h4 {
 font-size: 24px;
}

h5 {
 font-size: 22px;
}

h6 {
 font-size: 20px;
}

form, main {
 padding: 10px;
}

label {
 display: block;
 margin: 15px 0;
}

label>div:first-child {
 margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
 border: 1px solid #c9c9c9;
 border-radius: 5px;
 padding: 5px 10px;
 margin: 5px 5px 0 0;
}

input[type="submit"],
button,
a.button {
 background-color: #004979;
 color: white;
 cursor: pointer;
 border: none;
 border-radius: 5px;
 padding: 10px 15px;
 display: inline-block;
 margin: 5px 5px 0 0;
}

input[type="submit"]:hover,
button:hover,
a.button:hover {
 background-color: #4079a9;
}

input[type="submit"]:disabled,
button:disabled,
a.button:disabled,
input[type="submit"][disabled="disabled"],
button[disabled="disabled"],
a.button[disabled="disabled"] {
 opacity: 0.25;
 pointer-events: none;
}

p a {
 color: #004979;
}

.error {
 background-color: #c9a9a9;
 color: #794949;
 flex-grow: 1;
 padding: 10px;
}
